doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
    title Bootstrap 101 Template
    // Bootstrap
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='javascripts/html5shiv.min.js')
      script(src='javascripts/respond.min.js')
  body
    .container-fluid
      form.form-inline
        .form-group
          label(for='url') url：
          input#url.form-control(type='text', placeholder='url')
        button.btn.btn-default(type='submit') Submit
      br      
      textarea.form-control(rows='5')    
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='javascripts/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='javascripts/bootstrap.min.js')